* {
	box-sizing: border-box;
}

html {
	font-size: 14px;
	font-family: monospace, sans-serif;
}

body {
	margin: 0;
	color: #202833;
	background-color: #e1eaef;
}

h1,
h2,
h3,
p,
a,
ul,
li {
	margin: 0;
	padding: 0;
}
